In [1]:
# Process OBS so it's ready for comparison

In [2]:
import pandas as pd

# Load observed on-board survey (OBS) trip records
# obs = pd.read_csv(r'R:\FastTrips\CHTS & OBS ft_output\OBS_ft_output_w_stops.csv')

# obs.fillna('',inplace=True)
# obs['person_id'] = obs['person_id'].apply(lambda x: x.split("_")[-1]).astype('str')
# obs['A_id_num'] = obs['A_id_num'].replace("",0)
# obs['A_id_num'] = obs['A_id_num'].astype('int')

# # trip_list_id_num is wrong on current input - replace with correct value from input
# obs = obs.drop('trip_list_id_num',axis=1)    
# obsinput = pd.read_csv(r'J:\Projects\FasTrips\obs\input\1.0\OBS_fasttrips_demand_v1.0\trip_list.txt')
# obsinput['person_id'] = obsinput['person_id'].astype('int').astype('str')

# obs = pd.merge(obs, obsinput[['person_id','trip_list_id_num']], on='person_id')
# obs.to_csv(r'R:\FastTrips\CHTS & OBS ft_output\OBS_ft_output_w_stops_BN.csv')

In [272]:
# Read latest OBS data
df = pd.read_csv(r'R:\FastTrips\CHTS & OBS ft_output\OBS_ft_output_w_stops.csv')

In [273]:
df['person_id'] = df['person_id'].apply(lambda x: x.split("_")[-1]).astype('str')

In [274]:
# Fill NaN type with empty string
for field in ['A_id_num','B_id_num','A_id','B_id']:
    df[field].fillna("",inplace=True)

In [275]:
# trip_list_id_num is wrong on current input - replace with correct value from input
df = df.drop('trip_list_id_num',axis=1)

# Read in an Fast Trips input format
obsinput = pd.read_csv('../data/obs/trip_list.txt')
obsinput['person_id'] = obsinput['person_id'].astype('int').astype('str')

In [276]:
df = pd.merge(df, obsinput[['person_id','trip_list_id_num']], on='person_id')

In [277]:
# Add the proper transit fields!
obs_to_gtfs = pd.read_csv('../data/obs/obs_to_gtfs_v1.8.csv')
agency_lookup = pd.read_csv('../data/obs/obs_agency_lookup.csv')

obs_to_gtfs.fillna("",inplace=True)
obs_to_gtfs.drop_duplicates(inplace=True)

In [278]:
# Get a unique lookup of OBS to GTFS agency names
agency_list = obs_to_gtfs.drop_duplicates(subset=['OBS_agency'])[['OBS_agency','GTFS1.8_agency']].reset_index(drop=True)

# drop any empty OBS rows 
agency_list = agency_list[agency_list['OBS_agency'] != ""]

In [286]:
# Join the OBS agency name
df = pd.merge(df,agency_lookup,on='route_id',how='left')

In [287]:
# Join the GTFS agency name to the OBS data
df = pd.merge(df, agency_list, left_on='agency', right_on='OBS_agency', how='left')

In [289]:
# Replace the OBS 
df['agency'] = df['GTFS1.8_agency']
df.drop(['OBS_agency','GTFS1.8_agency'],axis=1,inplace=True)

In [291]:
# See if we can extract any route IDs from here based on that route_id field

In [296]:
rows_with_route_id = df[-df['route_id'].isnull()]
rows_without_route_id = df[df['route_id'].isnull()]

In [297]:
len(rows_with_route_id) + len(rows_without_route_id) == len(df)

True

In [299]:
newdf = pd.merge(rows_with_route_id, obs_to_gtfs, left_on='route_id', right_on='OBS_route_id')

In [314]:
output = pd.concat([newdf,rows_without_route_id])

In [316]:
output.sort()

,A_id,A_id_num,B_id,B_id_num,GTFS1.8_agency,GTFS1.8_route_id,OBS_agency,OBS_route_id,Unnamed: 4,agency,linkmode,linknum,mode,person_id,route_id,trip_list_id_num
0,,,,,caltrain,,Caltrain,Caltrain_Burlingame California Ave,,caltrain,transit,1,commuter_rail,100,Caltrain_Burlingame California Ave,28
0,1258,1258,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,100,NaN,28
1,,,,,caltrain,,Caltrain,Caltrain_Burlingame California Ave,,caltrain,transit,3,commuter_rail,1049,Caltrain_Burlingame California Ave,469
2,,,,,caltrain,,Caltrain,Caltrain_Burlingame California Ave,,caltrain,transit,1,commuter_rail,3106,Caltrain_Burlingame California Ave,1833
2,,,1358,1358,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,100,NaN,28
3,,,,,caltrain,,Caltrain,Caltrain_Burlingame California Ave,,caltrain,transit,1,commuter_rail,748,Caltrain_Burlingame California Ave,298
3,930,930,24893,24893,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,1000,NaN,431
4,24893,24893,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1000,MUNI,431
4,930,930,24893,24893,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,1000,NaN,432
5,24893,24893,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1000,MUNI,432
6,24996,24996,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1004,MUNI,434
7,24996,24996,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1004,MUNI,435
7,,,23820,23820,NaN,NaN,NaN,NaN,NaN,NaN,transfer,2,transfer,1000,NaN,431
8,24996,24996,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1004,MUNI,436
8,,,23820,23820,NaN,NaN,NaN,NaN,NaN,NaN,transfer,2,transfer,1000,NaN,432
9,,,30730,30730,sf_muni,,MUNI,MUNI,,sf_muni,transit,3,light_rail,1028,MUNI,456
10,,,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1029,MUNI,457
11,,,1251,1251,NaN,NaN,NaN,NaN,NaN,NaN,egress,4,walk_egress,1000,NaN,431
11,,,25984,25984,sf_muni,,MUNI,MUNI,,sf_muni,transit,3,light_rail,1037,MUNI,464
12,,,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1038,MUNI,465
12,,,1251,1251,NaN,NaN,NaN,NaN,NaN,NaN,egress,4,walk_egress,1000,NaN,432
13,,,24333,24333,sf_muni,,MUNI,MUNI,,sf_muni,transit,5,light_rail,1051,MUNI,471
13,2185,2185,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,1000,NaN,431
14,,,24333,24333,sf_muni,,MUNI,MUNI,,sf_muni,transit,5,light_rail,1051,MUNI,472
14,2185,2185,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,1000,NaN,432
15,,,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1057,MUNI,478
16,,,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1063,MUNI,480
17,102656,102656,2191,2191,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,1000,NaN,431
17,,,,,sf_muni,,MUNI,MUNI,,sf_muni,transit,1,local_bus,1063,MUNI,481
18,,,13401,13401,sf_muni,,MUNI,MUNI,,sf_muni,transit,5,light_rail,1066,MUNI,482
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91759,1203,1203,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56050,NaN,12460
91761,,,1239,1239,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56050,NaN,12460
91762,2051,2051,16521,16521,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56051,NaN,12461
91764,,,1968,1968,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56051,NaN,12461
91765,1778,1778,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56052,NaN,12462
91767,16512,16512,742,742,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56052,NaN,12462
91768,2052,2052,16521,16521,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56056,NaN,12463
91770,,,1969,1969,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56056,NaN,12463
91771,1764,1764,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56057,NaN,12464
91773,,,1872,1872,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56057,NaN,12464
91774,2053,2053,16521,16521,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56060,NaN,12465
91776,16512,16512,937,937,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56060,NaN,12465
91777,2017,2017,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56066,NaN,12466
91779,,,1874,1874,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56066,NaN,12466
91780,2053,2053,16521,16521,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56067,NaN,12467
91782,,,1971,1971,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56067,NaN,12467
91783,2016,2016,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56069,NaN,12468
91785,30049,30049,775,775,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56069,NaN,12468
91786,1986,1986,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56070,NaN,12469
91788,,,1239,1239,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56070,NaN,12469
91789,2047,2047,16521,16521,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56072,NaN,12470
91791,,,2011,2011,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56072,NaN,12470
91792,1214,1214,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56078,NaN,12471
91794,,,2016,2016,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56078,NaN,12471
91795,1216,1216,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56083,NaN,12472
91797,30049,30049,812,812,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56083,NaN,12472
91798,1800,1800,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56085,NaN,12473
91800,16512,16512,743,743,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56085,NaN,12473
91801,2025,2025,,,NaN,NaN,NaN,NaN,NaN,NaN,access,0,walk_access,56086,NaN,12474
91803,30049,30049,773,773,NaN,NaN,NaN,NaN,NaN,NaN,egress,2,walk_egress,56086,NaN,12474

In [305]:
len(newdf.drop_duplicates())

34277

In [307]:
len(newdf)

34278

In [306]:
len(rows_with_route_id)

32815

In [301]:
len(newdf)

34278

In [207]:
print len(set(obs_routes['OBS_route_id'].values).intersection(df['route_id']))

1990

In [208]:
len(obs_routes.groupby('OBS_route_id').count().index)

3485

In [209]:
len(df.groupby('route_id').count().index)

2099

In [210]:
# df[df['route_id'] == 'AC Transit_1']
# df

In [211]:
df['OBS_route_id'] = df['route_id']
newdf = pd.merge(df,obs_routes,on='OBS_route_id',how='left')

In [212]:
newdf

,person_id,linkmode,A_id_num,B_id_num,A_id,B_id,linknum,mode,route_id,OBS_route_id,trip_list_id_num,OBS_agency,GTFS1.8_route_id,GTFS1.8_agency,Unnamed: 4
0,100,access,1258,,1258,,0,walk_access,,,28,NaN,NaN,NaN,NaN
1,100,transit,,,,,1,commuter_rail,Caltrain_Burlingame California Ave,Caltrain_Burlingame California Ave,28,Caltrain,,caltrain,
2,100,egress,,1358,,1358,2,walk_egress,,,28,NaN,NaN,NaN,NaN
3,1000,access,930,24893,930,24893,0,walk_access,,,431,NaN,NaN,NaN,NaN
4,1000,access,930,24893,930,24893,0,walk_access,,,432,NaN,NaN,NaN,NaN
5,1000,access,930,24893,930,24893,0,walk_access,,,431,NaN,NaN,NaN,NaN
6,1000,access,930,24893,930,24893,0,walk_access,,,432,NaN,NaN,NaN,NaN
7,1000,transit,24893,,24893,,1,local_bus,MUNI,MUNI,431,MUNI,,sf_muni,
8,1000,transit,24893,,24893,,1,local_bus,MUNI,MUNI,432,MUNI,,sf_muni,
9,1000,transit,24893,,24893,,1,local_bus,MUNI,MUNI,431,MUNI,,sf_muni,
10,1000,transit,24893,,24893,,1,local_bus,MUNI,MUNI,432,MUNI,,sf_muni,
11,1000,transfer,,23820,,23820,2,transfer,,,431,NaN,NaN,NaN,NaN
12,1000,transfer,,23820,,23820,2,transfer,,,432,NaN,NaN,NaN,NaN
13,1000,transfer,,23820,,23820,2,transfer,,,431,NaN,NaN,NaN,NaN
14,1000,transfer,,23820,,23820,2,transfer,,,432,NaN,NaN,NaN,NaN
15,1000,transit,23820,,23820,,3,commuter_rail,Caltrain_San Francisco Burlingame,Caltrain_San Francisco Burlingame,431,Caltrain,,caltrain,
16,1000,transit,23820,,23820,,3,commuter_rail,Caltrain_San Francisco Burlingame,Caltrain_San Francisco Burlingame,432,Caltrain,,caltrain,
17,1000,transit,23820,,23820,,3,commuter_rail,Caltrain_San Francisco Burlingame,Caltrain_San Francisco Burlingame,431,Caltrain,,caltrain,
18,1000,transit,23820,,23820,,3,commuter_rail,Caltrain_San Francisco Burlingame,Caltrain_San Francisco Burlingame,432,Caltrain,,caltrain,
19,1000,egress,,1251,,1251,4,walk_egress,,,431,NaN,NaN,NaN,NaN
20,1000,egress,,1251,,1251,4,walk_egress,,,432,NaN,NaN,NaN,NaN
21,1000,egress,,1251,,1251,4,walk_egress,,,431,NaN,NaN,NaN,NaN
22,1000,egress,,1251,,1251,4,walk_egress,,,432,NaN,NaN,NaN,NaN
23,1000,access,2185,,2185,,0,walk_access,,,431,NaN,NaN,NaN,NaN
24,1000,access,2185,,2185,,0,walk_access,,,432,NaN,NaN,NaN,NaN
25,1000,access,2185,,2185,,0,walk_access,,,431,NaN,NaN,NaN,NaN
26,1000,access,2185,,2185,,0,walk_access,,,432,NaN,NaN,NaN,NaN
27,1000,transit,,102656,,102656,1,local_bus,Tri-Delta_392,Tri-Delta_392,431,Tri-Delta,,tri_delta_transit,
28,1000,transit,,102656,,102656,1,local_bus,Tri-Delta_392,Tri-Delta_392,432,Tri-Delta,,tri_delta_transit,
29,1000,transit,,102656,,102656,1,local_bus,Tri-Delta_392,Tri-Delta_392,431,Tri-Delta,,tri_delta_transit,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107128,56060,access,2053,16521,2053,16521,0,walk_access,,,12465,NaN,NaN,NaN,NaN
107129,56060,transit,16521,16512,16521,16512,1,heavy_rail,BART_2 28,BART_2 28,12465,BART,,bart,
107130,56060,egress,16512,937,16512,937,2,walk_egress,,,12465,NaN,NaN,NaN,NaN
107131,56066,access,2017,,2017,,0,walk_access,,,12466,NaN,NaN,NaN,NaN
107132,56066,transit,,,,,1,heavy_rail,BART_4 13,BART_4 13,12466,BART,,bart,
107133,56066,egress,,1874,,1874,2,walk_egress,,,12466,NaN,NaN,NaN,NaN
107134,56067,access,2053,16521,2053,16521,0,walk_access,,,12467,NaN,NaN,NaN,NaN
107135,56067,transit,16521,,16521,,1,heavy_rail,BART_2 8,BART_2 8,12467,BART,,bart,
107136,56067,egress,,1971,,1971,2,walk_egress,,,12467,NaN,NaN,NaN,NaN
107137,56069,access,2016,,2016,,0,walk_access,,,12468,NaN,NaN,NaN,NaN
107138,56069,transit,,30049,,30049,1,heavy_rail,BART_4 27,BART_4 27,12468,BART,,bart,
107139,56069,egress,30049,775,30049,775,2,walk_egress,,,12468,NaN,NaN,NaN,NaN
107140,56070,access,1986,,1986,,0,walk_access,,,12469,NaN,NaN,NaN,NaN
107141,56070,transit,,,,,1,heavy_rail,BART_26 43,BART_26 43,12469,BART,,bart,
107142,56070,egress,,1239,,1239,2,walk_egress,,,12469,NaN,NaN,NaN,NaN
107143,56072,access,2047,16521,2047,16521,0,walk_access,,,12470,NaN,NaN,NaN,NaN
107144,56072,transit,16521,,16521,,1,heavy_rail,BART_2 5,BART_2 5,12470,BART,,bart,
107145,56072,egress,,2011,,2011,2,walk_egress,,,12470,NaN,NaN,NaN,NaN
107146,56078,access,1214,,1214,,0,walk_access,,,12471,NaN,NaN,NaN,NaN
107147,56078,transit,,,,,1,heavy_rail,BART_41 4,BART_41 4,12471,BART,,bart,
107148,56078,egress,,2016,,2016,2,walk_egress,,,12471,NaN,NaN,NaN,NaN
107149,56083,access,1216,,1216,,0,walk_access,,,12472,NaN,NaN,NaN,NaN
107150,56083,transit,,30049,,30049,1,heavy_rail,BART_41 27,BART_41 27,12472,BART,,bart,
107151,56083,egress,30049,812,30049,812,2,walk_egress,,,12472,NaN,NaN,NaN,NaN
107152,56085,access,1800,,1800,,0,walk_access,,,12473,NaN,NaN,NaN,NaN
107153,56085,transit,,16512,,16512,1,heavy_rail,BART_18 28,BART_18 28,12473,BART,,bart,
107154,56085,egress,16512,743,16512,743,2,walk_egress,,,12473,NaN,NaN,NaN,NaN
107155,56086,access,2025,,2025,,0,walk_access,,,12474,NaN,NaN,NaN,NaN
107156,56086,transit,,30049,,30049,1,heavy_rail,BART_4 27,BART_4 27,12474,BART,,bart,
107157,56086,egress,30049,773,30049,773,2,walk_egress,,,12474,NaN,NaN,NaN,NaN

In [213]:
len(newdf)

107158

In [200]:
newdf.groupby('GTFS1.8_agency').count()

,person_id,linkmode,A_id_num,B_id_num,A_id,B_id,linknum,mode,route_id,OBS_route_id,trip_list_id_num,OBS_agency,GTFS1.8_route_id,Unnamed: 4
GTFS1.8_agency,,,,,,,,,,,,,,
EXTERNAL,1,1,1,1,1,1,1,1,1,1,1,1,0,0
UNMODELED,386,386,386,386,386,386,386,386,386,386,386,386,0,0
ac_transit,8329,8329,8329,8329,8329,8329,8329,8329,8329,8329,8329,8329,5834,1895
ace,6,6,6,6,6,6,6,6,6,6,6,6,6,6
amtrak,21,21,21,21,21,21,21,21,21,21,21,21,21,21
bart,13171,13171,13171,13171,13171,13171,13171,13171,13171,13171,13171,13171,0,0
caltrain,2959,2959,2959,2959,2959,2959,2959,2959,2959,2959,2959,2959,0,0
cccta,566,566,566,566,566,566,566,566,566,566,566,566,0,0
ferry,521,521,521,521,521,521,521,521,521,521,521,521,476,0
golden_gate_transit,868,868,868,868,868,868,868,868,868,868,868,868,532,296
lavta,108,108,108,108,108,108,108,108,108,108,108,108,56,45
petaluma,46,46,46,46,46,46,46,46,46,46,46,46,19,8
samtrans,4601,4601,4601,4601,4601,4601,4601,4601,4601,4601,4601,4601,3880,2464
santa_rosa,8,8,8,8,8,8,8,8,8,8,8,8,0,0
scvta,518,518,518,518,518,518,518,518,518,518,518,518,0,0
sf_muni,981,981,981,981,981,981,981,981,981,981,981,981,0,0
soltrans,34,34,34,34,34,34,34,34,34,34,34,34,0,0
sonoma_county_transit,189,189,189,189,189,189,189,189,189,189,189,189,182,162
tri_delta_transit,1669,1669,1669,1669,1669,1669,1669,1669,1669,1669,1669,1669,1249,326
union_city_transit,108,108,108,108,108,108,108,108,108,108,108,108,108,108
vine,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,1807,1690
westcat,13,13,13,13,13,13,13,13,13,13,13,13,0,0

In [142]:
newdf.groupby('GTFS1.8_route_id').count()

,person_id,linkmode,A_id_num,B_id_num,A_id,B_id,linknum,mode,route_id,trip_list_id_num,OBS_route_id,OBS_agency,GTFS1.8_agency,Unnamed: 4
GTFS1.8_route_id,,,,,,,,,,,,,,
,21421,21421,21421,21421,21421,21421,21421,21421,21421,21421,21421,21421,21421,21421
ac_transit_11,83,83,83,83,83,83,83,83,83,83,83,83,83,83
ac_transit_12,119,119,119,119,119,119,119,119,119,119,119,119,119,119
ac_transit_13,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_13A,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_14,171,171,171,171,171,171,171,171,171,171,171,171,171,171
ac_transit_210,31,31,31,31,31,31,31,31,31,31,31,31,31,31
ac_transit_211,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_212,23,23,23,23,23,23,23,23,23,23,23,23,23,23
ac_transit_213,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_214,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_215,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ac_transit_216,16,16,16,16,16,16,16,16,16,16,16,16,16,16
ac_transit_217,26,26,26,26,26,26,26,26,26,26,26,26,26,26
ac_transit_218,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_231,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_232,17,17,17,17,17,17,17,17,17,17,17,17,17,17
ac_transit_235,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_376East,2,2,2,2,2,2,2,2,2,2,2,2,2,2
ac_transit_376West,2,2,2,2,2,2,2,2,2,2,2,2,2,2
ac_transit_40,415,415,415,415,415,415,415,415,415,415,415,415,415,415
ac_transit_40A,415,415,415,415,415,415,415,415,415,415,415,415,415,415
ac_transit_40L,415,415,415,415,415,415,415,415,415,415,415,415,415,415
ac_transit_41,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_43.1,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_43.2,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_43.3,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
ac_transit_45,61,61,61,61,61,61,61,61,61,61,61,61,61,61
ac_transit_46,15,15,15,15,15,15,15,15,15,15,15,15,15,15
ac_transit_47,5,5,5,5,5,5,5,5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tri_delta_transit_390TRI_,29,29,29,29,29,29,29,29,29,29,29,29,29,29
tri_delta_transit_391EBTR,81,81,81,81,81,81,81,81,81,81,81,81,81,81
tri_delta_transit_391WBTR,81,81,81,81,81,81,81,81,81,81,81,81,81,81
tri_delta_transit_70,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
tri_delta_transit_BDAR,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989
union_city_transit_1AN_1BS,39,39,39,39,39,39,39,39,39,39,39,39,39,39
union_city_transit_1AS_1BN,39,39,39,39,39,39,39,39,39,39,39,39,39,39
union_city_transit_2ebWHIP,11,11,11,11,11,11,11,11,11,11,11,11,11,11
union_city_transit_3ebALM,4,4,4,4,4,4,4,4,4,4,4,4,4,4
union_city_transit_3wbALM,4,4,4,4,4,4,4,4,4,4,4,4,4,4
vine_10NVT,108,108,108,108,108,108,108,108,108,108,108,108,108,108
vine_10NVTN,108,108,108,108,108,108,108,108,108,108,108,108,108,108
vine_10NVTNA,108,108,108,108,108,108,108,108,108,108,108,108,108,108
vine_10NVTS,108,108,108,108,108,108,108,108,108,108,108,108,108,108
vine_10NVTSA,108,108,108,108,108,108,108,108,108,108,108,108,108,108
vine_10NVTSEXP,108,108,108,108,108,108,108,108,108,108,108,108,108,108
vine_10nb,108,108,108,108,108,108,108,108,108,108,108,108,108,108
vine_10sb,108,108,108,108,108,108,108,108,108,108,108,108,108,108
vine_1Bn,10,10,10,10,10,10,10,10,10,10,10,10,10,10
vine_1Bs,10,10,10,10,10,10,10,10,10,10,10,10,10,10
vine_2,31,31,31,31,31,31,31,31,31,31,31,31,31,31
vine_3A,44,44,44,44,44,44,44,44,44,44,44,44,44,44
vine_3B,44,44,44,44,44,44,44,44,44,44,44,44,44,44
vine_4nb,16,16,16,16,16,16,16,16,16,16,16,16,16,16
vine_4sb,16,16,16,16,16,16,16,16,16,16,16,16,16,16
vine_5,27,27,27,27,27,27,27,27,27,27,27,27,27,27
vine_6,15,15,15,15,15,15,15,15,15,15,15,15,15,15
vine_7nb,3,3,3,3,3,3,3,3,3,3,3,3,3,3
vine_7sb,3,3,3,3,3,3,3,3,3,3,3,3,3,3
vine_VVFEXP,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989,58989

In [143]:
newdf

,person_id,linkmode,A_id_num,B_id_num,A_id,B_id,linknum,mode,route_id,trip_list_id_num,OBS_route_id,OBS_agency,GTFS1.8_route_id,GTFS1.8_agency,Unnamed: 4
0,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_13,ac_transit,
1,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_13A,ac_transit,
2,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_211,ac_transit,
3,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_213,ac_transit,
4,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_214,ac_transit,
5,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_218,ac_transit,
6,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_231,ac_transit,
7,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_235,ac_transit,
8,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_41,ac_transit,
9,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_43.1,ac_transit,
10,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_43.2,ac_transit,
11,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_43.3,ac_transit,
12,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_50,ac_transit,
13,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_53.1,ac_transit,
14,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_53.2,ac_transit,
15,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_55,ac_transit,
16,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_56CCW,ac_transit,
17,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_56CW,ac_transit,
18,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_59,ac_transit,
19,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_59.1,ac_transit,
20,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_63,ac_transit,
21,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_77,ac_transit,
22,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_80,ac_transit,
23,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_800,ac_transit,
24,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_81,ac_transit,
25,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_81A,ac_transit,
26,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_82,ac_transit,
27,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_84,ac_transit,
28,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_85A,ac_transit,
29,100,access,1258,,1258,,0,walk_access,,28,,AC Transit,ac_transit_85B,ac_transit,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6290123,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_270s,samtrans,
6290124,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_297,samtrans,
6290125,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_397,samtrans,
6290126,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_53A,samtrans,
6290127,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_53B,samtrans,
6290128,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_55,samtrans,
6290129,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_58A,samtrans,
6290130,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_58B,samtrans,
6290131,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_72,samtrans,
6290132,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_72A,samtrans,
6290133,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_73,samtrans,
6290134,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_83A,samtrans,
6290135,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_83AR,samtrans,
6290136,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_83B,samtrans,
6290137,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_83BR,samtrans,
6290138,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_83C,samtrans,
6290139,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,SamTrans,samtrans_83D,samtrans,
6290140,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Santa Rosa CityBus,santa_rosa_16,santa_rosa,
6290141,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Santa Rosa CityBus,santa_rosa_16e,santa_rosa,
6290142,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Santa Rosa CityBus,santa_rosa_16w,santa_rosa,
6290143,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Sonoma County,sonoma_county_transit_28LP1,sonoma_county_transit,
6290144,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Sonoma County,sonoma_county_transit_28LP4,sonoma_county_transit,
6290145,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Sonoma County,sonoma_county_transit_64NBL,sonoma_county_transit,
6290146,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Sonoma County,sonoma_county_transit_64SBL,sonoma_county_transit,
6290147,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Sonoma County,sonoma_county_transit_Temelec,sonoma_county_transit,
6290148,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Sonoma County,sonoma_county_transit_ValyMoonN,sonoma_county_transit,
6290149,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Sonoma County,sonoma_county_transit_ValyMoonS,sonoma_county_transit,
6290150,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Tri-Delta,tri_delta_transit_384TR,tri_delta_transit,
6290151,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Tri-Delta,tri_delta_transit_70,tri_delta_transit,
6290152,56086,egress,30049,773,30049,773,2,walk_egress,,12474,,Tri-Delta,tri_delta_transit_BDAR,tri_delta_transit,

In [32]:
df.to_csv(r'..\data\obs_chosenpaths_links.csv', index=False)

,person_id,linkmode,A_id_num,B_id_num,A_id,B_id,linknum,mode,route_id,trip_list_id_num
0,100,access,1258,,1258,,0,walk_access,NaN,28
1,100,transit,,,,,1,commuter_rail,Caltrain_Burlingame California Ave,28
2,100,egress,,1358,,1358,2,walk_egress,NaN,28
3,1000,access,930,24893,930,24893,0,walk_access,NaN,431
4,1000,access,930,24893,930,24893,0,walk_access,NaN,432
5,1000,transit,24893,,24893,,1,local_bus,MUNI,431
6,1000,transit,24893,,24893,,1,local_bus,MUNI,432
7,1000,transfer,,23820,,23820,2,transfer,NaN,431
8,1000,transfer,,23820,,23820,2,transfer,NaN,432
9,1000,transit,23820,,23820,,3,commuter_rail,Caltrain_San Francisco Burlingame,431
10,1000,transit,23820,,23820,,3,commuter_rail,Caltrain_San Francisco Burlingame,432
11,1000,egress,,1251,,1251,4,walk_egress,NaN,431
12,1000,egress,,1251,,1251,4,walk_egress,NaN,432
13,1000,access,2185,,2185,,0,walk_access,NaN,431
14,1000,access,2185,,2185,,0,walk_access,NaN,432
15,1000,transit,,102656,,102656,1,local_bus,Tri-Delta_392,431
16,1000,transit,,102656,,102656,1,local_bus,Tri-Delta_392,432
17,1000,egress,102656,2191,102656,2191,2,walk_egress,NaN,431
18,1000,egress,102656,2191,102656,2191,2,walk_egress,NaN,432
19,1000,access,164,16516,164,16516,0,walk_access,NaN,431
20,1000,access,164,16516,164,16516,0,walk_access,NaN,432
21,1000,transit,16516,,16516,,1,heavy_rail,BART_32 43,431
22,1000,transit,16516,,16516,,1,heavy_rail,BART_32 43,432
23,1000,egress,,1239,,1239,2,walk_egress,NaN,431
24,1000,egress,,1239,,1239,2,walk_egress,NaN,432
25,1002,access,1378,14677,1378,14677,0,walk_access,NaN,433
26,1002,transit,14677,14661,14677,14661,1,commuter_rail,Caltrain_Mountainï¿½View Millbrae,433
27,1002,transfer,14661,,14661,,2,transfer,NaN,433
28,1002,transit,,,,,3,heavy_rail,BART,433
29,1002,egress,,1239,,1239,4,walk_egress,NaN,433
...,...,...,...,...,...,...,...,...,...,...
91774,56060,access,2053,16521,2053,16521,0,walk_access,NaN,12465
91775,56060,transit,16521,16512,16521,16512,1,heavy_rail,BART_2 28,12465
91776,56060,egress,16512,937,16512,937,2,walk_egress,NaN,12465
91777,56066,access,2017,,2017,,0,walk_access,NaN,12466
91778,56066,transit,,,,,1,heavy_rail,BART_4 13,12466
91779,56066,egress,,1874,,1874,2,walk_egress,NaN,12466
91780,56067,access,2053,16521,2053,16521,0,walk_access,NaN,12467
91781,56067,transit,16521,,16521,,1,heavy_rail,BART_2 8,12467
91782,56067,egress,,1971,,1971,2,walk_egress,NaN,12467
91783,56069,access,2016,,2016,,0,walk_access,NaN,12468
91784,56069,transit,,30049,,30049,1,heavy_rail,BART_4 27,12468
91785,56069,egress,30049,775,30049,775,2,walk_egress,NaN,12468
91786,56070,access,1986,,1986,,0,walk_access,NaN,12469
91787,56070,transit,,,,,1,heavy_rail,BART_26 43,12469
91788,56070,egress,,1239,,1239,2,walk_egress,NaN,12469
91789,56072,access,2047,16521,2047,16521,0,walk_access,NaN,12470
91790,56072,transit,16521,,16521,,1,heavy_rail,BART_2 5,12470
91791,56072,egress,,2011,,2011,2,walk_egress,NaN,12470
91792,56078,access,1214,,1214,,0,walk_access,NaN,12471
91793,56078,transit,,,,,1,heavy_rail,BART_41 4,12471
91794,56078,egress,,2016,,2016,2,walk_egress,NaN,12471
91795,56083,access,1216,,1216,,0,walk_access,NaN,12472
91796,56083,transit,,30049,,30049,1,heavy_rail,BART_41 27,12472
91797,56083,egress,30049,812,30049,812,2,walk_egress,NaN,12472
91798,56085,access,1800,,1800,,0,walk_access,NaN,12473
91799,56085,transit,,16512,,16512,1,heavy_rail,BART_18 28,12473
91800,56085,egress,16512,743,16512,743,2,walk_egress,NaN,12473
91801,56086,access,2025,,2025,,0,walk_access,NaN,12474
91802,56086,transit,,30049,,30049,1,heavy_rail,BART_4 27,12474
91803,56086,egress,30049,773,30049,773,2,walk_egress,NaN,12474